doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Запрос на дополнительную информацию по демо-панели «Ритм»
    style.
      body {
        font-family: arial, 'helvetica neue', helvetica, sans-serif;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
        background-color: #F3F7FB;
        color: #1f1f1f;
      }
      .header {
        margin: 16px 50px;
      }
      .container {
        padding: 20px 50px;
        font-size: 14px;
        border-radius: 24px;
        background-color: #ffffff;
      }
      h3 {
        font-family: arial, 'helvetica neue', helvetica, sans-serif;
        font-size: 40px;
        line-height: 48px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 24px;
      }
      .descr { 
        font-size: 12px; 
        font-style: italic;
      }
      .title { 
        font-size: 27px; 
        margin: 24px 0 16px; 
        text-decoration: underline;
      }
      .sub-title { font-size: 17px; }
      .strong { font-weight: 900; }
      .underline { text-decoration: underline; }
      li { margin-top: 8px; }
      .empty {
        list-style: none; 
        font-size: 14px;
        font-style: italic;
      }
      .through {
        text-decoration: line-through;
        font-weight: 400;
      }
      .discount {
        color: red;
      }

  body
    div.header
      a(href=url_site)
        img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/logo-opacity.png?alt=media&token=e5a9c536-db80-4878-9c9a-7dc800227f3b",  alt="Учебный центр Основа" style="width: 100px;")
    
    div.container
      h3 Разработка панели «Ритм»

      p Здравствуйте, Вы отправили запрос на получение дополнительной информации по разработке информационной панели «Ритм»!
      p.descr (Если это не Вы отправляли запрос, просто проигнорируйте это письмо)
      
      p.title ДЕМОНСТРАЦИОННАЯ ПАНЕЛЬ 
      p.strong Если Вы ещё не смотрели пример готовой информационной панели,
      p пройдите по ссылке&nbsp;
        a(href=url_demo) https://docs.google.com/spreadsheets
      img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/demo-panel-1.png?alt=media&token=826723a0-2868-4193-8117-1f3f633c2eb2" alt="Картинка демо-панели" style="width: 100%;" )
      br

      p.title НАЧАЛО РАБОТЫ
      p.strong Перед началом разработки нам необходимо подписать договор.
      p Поэтому, когда Вы примите решение, что хотите разработать информационную панель для своей компании:
      p &nbsp;&nbsp;1. Пришлите карточку организации (ответным письмом), а мы подготовим и пришлём договор.
      p &nbsp;&nbsp;2. Вам нужно прочитать его, задать нам вопросы и подписать итоговый вариант.
      p &nbsp;&nbsp;3. Произвести предоплату (в соответствии с договором).
      p &nbsp;&nbsp;4. Назначаем 1ю встречу и приступаем к разработке.
      br

      p.title СТОИМОСТЬ РАЗРАБОТКИ
      p.discount Вам предоставлена скидка 10%, за переход по партнёрской ссылке!
      p.strong.sub-title Базовая стоимость -&nbsp;
        span.through 43 750&nbsp;
        span &nbsp;39 375 руб.

      ul
        li.strong Настройка до 10 показателей (статистик).
        li.empty * Учитываются именно те показатели, которые выводятся на панель. Например, 1 показатель на панели может рассчитываться из 2-3 показателей, которые вносятся в общую таблицу, таким образом это всё равно 1 показатель. 
        li.strong Настройка дополнительного показателя - 3 500 руб/шт.

      p.strong Итоговая стоимость - зависит от количества показателей, которые будут настроены на информационной панели.
      br
      p
        span.underline На 1й встрече&nbsp;
        span - мы с Вами составим общий список всех возможных показателей и их зависимость друг от друга&nbsp;
          a(href=url_site_primary_secondary) (см. "ключевые" и "первостепенные").
      br
      p 
        span.underline На 2й встрече&nbsp;
        span - смоделируем шаблон информационной панели (как будут расположены элементы на панели -&nbsp;
          a(href=url_demo) пример тут
        span ) и отберём те показатели, которые будем настраивать.

      br
      p.strong Окончательная стоимость определяется по итогу 2й встречи.
      br
      br
      p Задать вопросы Вы можете нам&nbsp;
        a(href=telegramm)
          img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/telegram_icon-icons.com_72055.png?alt=media&token=d59ccdb3-75cb-4595-9cb6-5053ce675a23" style="width: 20px;" )
          span &nbsp;в Телеграмм

      p или напишите нам Ваш номер и мы перезвоним.

      br
      hr
      footer
        p С наилучшими пожеланиями, «Учебный центр Основа».
