doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Запрос на дополнительную информацию по демо-панели «Ритм»
        style.
            .container { padding: 0 50px; font-size: 14px; line-height: 130%; }
            .descr { font-size: 12px; font-style: italic }
            .title { font-size: 16px; margin: 24px 0 16px; text-decoration: underline; }
            .strong { font-weight: 900; }
            .underline { text-decoration: underline; }
            li { margin-top: 8px; }
            .empty { list-style: none; font-size: 12px; }

    body.container
        a(href=url_site)
            img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/logo.png?alt=media&token=019bd620-6eea-4024-9e37-9576568ffcb6",  alt="Учебный центр Основа" style="width: 130px;")
        h3 Здравствуйте, 
        p Вы отправили запрос на получение дополнительной информации по разработке информационной панели «Ритм»!
        p.descr (Если это не Вы отправляли запрос, просто проигнорируйте это письмо)
        
        p.title ДЕМОНСТРАЦИОННАЯ ПАНЕЛЬ 
        p.strong Если Вы ещё не смотрели пример готовой информационной панели,
        p пройдите по ссылке&nbsp;
            a(href=url_demo) https://docs.google.com/spreadsheets

        p.title НАЧАЛО РАБОТЫ
        p.strong Перед началом разработки нам необходимо подписать договор.
        p Поэтому, когда Вы примите решение, что хотите разработать информационную панель для своей компании:
        p &nbsp;&nbsp;1. Пришлите карточку организации (ответным письмом), а мы подготовим и пришлём договор.
        p &nbsp;&nbsp;2. Вам нужно прочитать его, задать нам вопросы и подписать итоговый вариант.
        p &nbsp;&nbsp;3. Произвести предоплату (от 15.000 р.).
        p &nbsp;&nbsp;4. Назначаем 1ю встречу и приступаем к разработке.


        p.title СТОИМОСТЬ РАЗРАБОТКИ
        p.strong Базовая стоимость - 39 000 руб.
        ul
            li Настройка до 10 показателей (статистик).
            li.empty * Учитываются именно те показатели, которые выводятся на панель. Например, 1 показатель на панели может рассчитываться из 2-3 показателей, которые вносятся в общую таблицу, таким образом это всё равно 1 показатель. 
            li Настройка дополнительного показателя 3 500 руб/шт.

        p.strong Итоговая стоимость - зависит от количества показателей, которые будут настроены на информационной панели.
        p
            span.underline На 1й встрече&nbsp;
            span - мы с Вами составим общий список всех возможных показателей и их зависимость друг от друга&nbsp;
                a(href=url_site_primary_secondary) (см. "ключевые" и "первостепенные").
        p 
            span.underline На 2й встрече&nbsp;
            span - смоделируем шаблон информационной панели (как будут расположены элементы на панели -&nbsp;
                a(href=url_demo) пример тут
            span ) и отберём те показатели, которые будем настраивать.

        p.strong Окончательная стоимость определяется по итогу 2й встречи.
        p _____
        br
        p Задать вопросы вы можете нам&nbsp;
            a(href=telegramm) в Телеграмм

        p или напишите нам Ваш номер и мы перезвоним.

        br

        hr
        footer
            p С наилучшими пожеланиями,
            p «Учебный центр Основа»
